#motorTable {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 20px;
    margin-bottom: 20px;
}

#motorTable th {
    font-size: 25px;
}

#motorTable td, #motorTable th {
    border: 1px solid black;
    padding: 10px 0px;
    text-align: center;
}

.dataTable {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 17px;
    margin-left: 20px;
}

.dataTable td, .dataTable th {
    border: 1px solid black;
    padding: 5px 10px;
    font-family: monospace;
    font-size: 8px;
}

.resetOnClick {
    cursor: pointer;
}

#left, #right {
    width: 50px;
    padding: 10px 0px;
}

#verticalSlider {
    height: 200px;
    width: 40px;
    padding: 0px;
    margin: 15px 40px;
}

#horizontalSlider {
    height: 40px;
    width: 200px;
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

#ultrasonicDiv {
    position: relative;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#ultrasonicTitle {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

#flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}